.ToggleMenu {
    background-color: white;
    position: absolute;
    width:60%;
    height: 100%;
    border-right: 3px solid white;
    /* visibility: hidden; */
}

/* pc화면 */
@media(min-width:768px){
    .ToggleMenu{
        
        margin-left:-15.2%;
        width:15%;
    }
}
@media(max-width:768px){
    .ToggleMenu{
        transform: translate3d(-100%,0,0);
        transition: transform .3s cubic-bezier(0, .52,0,1);
        overflow:scroll;
    }
    .ToggleMenu.hide{
        transform: translate3d(-100%, 0, 0);
    }
    .ToggleMenu.show{
        transform: translate3d(0,0,0);
        overflow: hidden;
    }
}