
@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
  font-family: 'Nunito', sans-serif;
}
.App {
  height:100vh;
  display:flex;
  flex-direction: column;
}

@media(min-width:768px){
  .App{
    width:85%;
    float:right;
  }
}
/* .Toggle{
  background:greenyellow;
  width:30%;
}

.Toggle-{
  display:flex;
  flex-direction: column;
  width:70%;
} */
/* @media(max-width:425px){
  .App{
    width: 425px;
  }
} */
